$blue: #5FB1CF;
$light-blue: #D8EFF7;

$green: #61BD89;

$red: #CE485F;

$orange: #D7914C;

$purple: #A66EBA;

$black: #444;

$lightGray: #969696;
$lighterGray: #F6F6F6;

$yellow: #FAEBCC;
$lightYellow: #FCF8E3;
$darkYellow: #8A6D3B;

.red {
  color: $red;
}

.blue {
  color: $blue;
}
