@import "./colors";

.Candidates h1 {
  text-align: center;
  color: $black;
}

.Candidates .subtitle {
  display: block;
  text-align: center;
  color: $lightGray;
  margin-top: -20px;
}

.Candidates .header {
    color: $black;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Candidates .success {
  color: $green;
}

.Candidates .error {
  color: $red;
}
