@import "./colors";

.CandidateCard {
  font-size: 14px;
  color: $black;
}

.CandidateCard .grid {
  padding-left: 20px;
  line-height: 40px;
}

.CandidateCard .grid:hover {
  background: $lighterGray;
}
