.Content {

}

.Content h1 {
    text-align: center;
}

.Content .subtitle {
    display: block;
    text-align: center;
    color: #969696;
    margin-top: -20px;
}

.Content .button-holder {
    display: block;
    padding: 40px 0;
    text-align: center;
}
