.Footer {
  font-size: 14px;
  margin-bottom: 20px;
  color: #7A7979;
}

.Footer .for {
    float: right;
}

.Footer a {
    color: #7A7979;
    text-decoration: none;
}

.Footer a:hover {
    color: #504e4e;
}

.Footer iframe#fork-me {
    border: none;
}
