@import "./colors";

.FrontPageCard {
    color: #fff;
}

.FrontPageCard .frontend {
  background: $blue;
}

.FrontPageCard .backend {
  background: $green;
}

.FrontPageCard .mobile {
  background: $orange;
}

.FrontPageCard .title {
  font-weight: bold;
}

.FrontPageCard .card-icon {
  float: left;
  margin-right: 20px;
  height: 120px;
  width: 120px;
}
