@import "~colors.css/sass/colors";

.FrontPageCard {

}

.FrontPageCard .title {
  font-weight: bold;
}

.FrontPageCard .card-icon {
  float: left;
  margin-right: 20px;
  height: 120px;
  width: 120px;
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.orange {
  background-color: $orange;
}
