.Header {
  background: transparent linear-gradient(150deg, #0A202D, #015F82) repeat scroll 0% 0%;
  width: 100%;
  margin-bottom: 20px;
  height: 60px;
  color: #fff;
}

.Header a {
  color: #fff;
  text-decoration: none;
}

.Header a.right {
  float: right;
}
