.Header {
  background: transparent linear-gradient(150deg, #0A202D, #015F82) repeat scroll 0% 0%;
  width: 100%;
  margin-bottom: 20px;
  height: 60px;
  color: #fff;
}

.Header a {
  color: #fff;
  text-decoration: none;
}

.Header a.right {
  float: right;
}

.Header ul {
  list-style: none;
  margin: 0;
  float: right;
}

.Header ul li {
  display: inline;
  margin: 0 5px;
}
